{% extends "core/base.html" %}
{% load static %}

{% block title %}Registro{% endblock %}

{% block main_content %}
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <h3 id="form-title">Register Account</h3>
      </div>
      <div class="form_container p-3">

        <form method="POST" action="{% url 'core:register' %}">
          {% csrf_token %}

          {% for field in form %}
            <div class="mb-3">
              {{ field.label_tag }}
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
                {{ field }}
              </div>
              {% if field.errors %}
                <div class="text-danger small">{{ field.errors }}</div>
              {% endif %}
            </div>
          {% endfor %}

          {% if form.non_field_errors %}
            <div class="text-danger small">{{ form.non_field_errors }}</div>
          {% endif %}

          <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </form>

        <div class="mt-4 text-center">
          Já possui uma conta? <a href="{% url 'core:login' %}">Login</a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
